
<!DOCTYPE html>

<html>
    <head>
        <title>Lista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="website, html">
        <meta name="author" content="Victor Persson">
        <script>
            //sätter konstanter för url och port
            const HOSTNAME = `localhost`;
            const PORT = 8080;

            window.onload = () => {
                //Sätter en listener på "login-knappen" som skapar ett objekt med attribut från inputfälten...
                document.querySelector("#login_button").addEventListener("click", () => {
                    const user = {
                        username: document.querySelector("#input_name").value,
                        password: document.querySelector("#input_password").value
                    };
                    userLogin(user)
                    .then(response => {
                        window.location = response.path;
                    })
                    .catch(error => alert(error));
                });
            }
            //Funktion som skickar objektet till servern och resolvar eller rejectar beroende på om den hittar en matchning i db
            const userLogin = (user) => {
                return new Promise((resolve, reject) => {
                    fetch(`http://${HOSTNAME}:${PORT}`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(user)
                    })
                    .then(response => {
                        if (response.status === 200) {
                            response.json()
                            .then(data => resolve(data))
                            .catch(error => reject(error));
                        }
                        else {
                            response.json()
                            .then(data => reject(data.answer))
                            .catch(error => reject(error));
                        }
                    })
                    .catch(error => console.log(error));
                });
            }
        </script>
    </head>
    <body>
        <h1>ToDoLiSt</h1>
        <form>
            <label>Username</label>
            <input id="input_name" type="text">
            <label>Password</label>
            <input id="input_password" type="password">
            <button id="login_button" type="button">Login</button>
        </form>
    </body>
</html>
