
<!DOCTYPE html>

<html>
    <head>
        <title>Lista</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="website, html">
        <meta name="author" content="Victor Persson">
        <script src="/public/login/login.js" type="text/javascript"></script>
        <link rel="stylesheet" href="/public/login/style.css">
    </head>
    <body>
        <h1>ToDoLiSt</h1>
        <main>
            <div class="container">
                <form>
                    <label>Username</label>
                    <input id="input_name" type="text">
                    <label>Password</label>
                    <input id="input_password" type="password">
                    <button id="login_button" type="button">Login</button>
                </form>
            </div>
        </main>
    </body>
</html>
